/* 
문제점:  aboutMe 부분과 clock, weather 부분을 menuBar에 나란히 서있게 하고 싶은데, 그게 잘 안딤;; -> 그리드로 해결
근데 메뉴바에서 폰트 크기 조절이 어렵네. vw로 하면, 창 너비는 변경폭이 넓어서 폰트가 너무 크고 작아짐.
가설: 조건문으로 작성해야할 듯. 화면비율<30% -> 최소값 지정, 30<화면<70% = vw, 70%<비율=최대값 지정
*/
@media (max-width: 623px) {
    .story {
      font-size: 10px; 
    }
    .head_item:nth-child(1){
        grid-column: 1/ span 4;
        grid-row: 1/ span 2;
    }
  }
  @media (min-width: 624px) {
    .story {
      font-size: 19px;

    }
  }
html{
    justify-content: center;
    text-align: center;
}
header{
    border-bottom: 0.8px rgb(0, 0, 0) solid;
}
body{

    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    width: 40vw;
    height: 100%;
    font-size: 18px;
    font-family: 'Diphylleia', serif;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10%;
    margin: 0;
    padding: 0;
    list-style: none;
}

div{
    display: block;
}


#clock{
    width: 200px;
    height: 50px;
    font-size: 15px;
}
#weather{
    width: 200px;
    height: 50px;
    font-size: 13px;
}


.main_head_container{
    vertical-align: middle;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr ;
}
.head_item:nth-child(1){
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
}
.story{
    font-weight:bolder
}

.main_body_container{
    margin-top: 3%;
    display: flex;
}
body > div > ul{

    width: 60vw;
    /* width를 vw로 하면 전체화면일 때 남는 공간이 많음. 어느정도 넘어가면 다른 단위로 바꿔야할듯*/
    margin: auto;
}


.main_title{
    width: 40vw;
    text-align: left;
    font-size: 18;
    font-weight: 1000;}

.main_date{
    text-align: left;
    font-size: 13px;
}

.main_summary{
    text-align: left;
    margin-bottom: 10%;
    font-size: 16px;
}

ul{
    list-style:none;
}

.theme{
    font-size: 25px;
    margin-top: 5%;
    height: 30%;
}

.title{
    width: 30vw;
    text-align: left;
    font-size: 2vw;
    font-weight: 1000;}

.date{
    text-align: left;
    font-size: 1.2vw;
    margin: 10px;
}

.summary{
    text-align: left;
    margin-bottom: 10%;
    font-size: 1.7vw;
    margin-bottom: 10px;
}
.post_header{
    height: 200px * 5vw;
}

p{
    font-family: "Malgun Gothic";
    text-align: justify;
    hyphens: auto;
    line-height: calc(1ex/0.32);
}
.colorscripter-code{
    margin: 3%;
    margin-bottom: 5%;
    width: 100%}

    .side-bar > ul > li {
      position: relative;
    }
    a {
        color: inherit;   /* 부모 엘리먼트의 값을 물려받는다 */
        text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
      }
      .side-bar > ul ul {
        display: none;
      }
      
  

  
  /* 사이드바 시작 */
  
  /* 사이드바의 너비와 높이를 변수를 통해 통제 
    <<root -> 전체를 지칭하는 것과 같음>> 
  */
  
  
  :root {
    --side-bar-width: 270px;
    --side-bar-height: 90vh;
  }
  
  
  .side-bar {
    position: fixed;    /* 스크롤을 따라오도록 지정 */
    left: 0;
    background-color: black;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
  }
  
  /* 햄버거 아이콘 시작 */
  .side-bar__icon-box {
    display: flex;
    justify-content: flex-end;
  }
  
  .side-bar__icon-1 {
    position: relative;
    width: 23px;
    height: 17px;
    margin: 15px;
    margin-top: 20px;
    transition: .5s;
  }
  
  :root {
    --side-bar__icon: .5s;
  }
  
  .side-bar__icon-1 > div {
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    background-color: white;
    transition: all var(--side-bar__icon);
  }
  
  .side-bar__icon-1 > div:nth-of-type(1) {
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
 
}
  
  .side-bar__icon-1 > div:nth-of-type(2) {
    top: 40%;
    transform-origin:bottom left;
  }
  
  .side-bar__icon-1 > div:nth-of-type(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin:bottom right;
  }
  
  
  .side-bar:hover .side-bar__icon-1 {
    transform: translate(-198px, 0);
  }

  .side-bar:hover .side-bar__icon-1 > div:nth-of-type(2) {
    transform:rotate(45deg);
    width: 70.5%;
    height: 25%;
  }
  
  .side-bar:hover .side-bar__icon-1 > div:nth-of-type(3) {
    top: 40%;
    transform:rotate(-45deg);
    width: 70.5%;
    height: 25%;
  }
  
  .side-bar:hover .side-bar__icon-1 > div:nth-of-type(1) {
    left: 41%;
    right: 41%;
    height: 100%;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);

  }

.side-bar ul > li > a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    transition: .5s;
  }

  .side-bar > ul{
    width: 250px * 10vw;
  }
  .side-bar > ul > li {
    background-color: #000000;
    position: relative;
    left: -50px;
    width: 250px * 10vw;

  }
  .side-bar > ul > li:hover > a {
    background-color: #000000;
    border-bottom: 1px solid #999;
  }
  .side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #000000;
    width: 200px;
    top: 0;         
    margin-right: 0;
    left: 200px;
    z-index: 1;
  }
  .side-bar > ul > li:hover > ul > li {
    width: 250px;
    background-color: #393939;

  }
  .side-bar {
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);
    transition: .5s;
  }
  .side-bar:hover {
    transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 숨겨주기 */
  }

  .hidden{
    display: hidden;
  }

  input{
    background-color: #000000;
    border: none;
  }