/* 
문제점:  aboutMe 부분과 clock, weather 부분을 menuBar에 나란히 서있게 하고 싶은데, 그게 잘 안딤;; -> 그리드로 해결
근데 메뉴바에서 폰트 크기 조절이 어렵네. vw로 하면, 창 너비는 변경폭이 넓어서 폰트가 너무 크고 작아짐.
가설: 조건문으로 작성해야할 듯. 화면비율<30% -> 최소값 지정, 30<화면<70% = vw, 70%<비율=최대값 지정
*/
header{
    height: 15%;
    border-bottom: 0.8px rgb(0, 0, 0) solid;
}
body{
    justify-content: center;
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    width: 40vw;
    height: 1000px;
    font-size: 18px;
    font-family: 'Diphylleia', serif;
    display: block;
    position: relative;
    margin: auto;

}

div{
    display: block;
}


#clock{
    width: 200px;
    height: 50px;
    font-size: 15px;
}
#weather{
    width: 200px;
    height: 50px;
    font-size: 13px;
}


.main_head_container{
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr ;
}
.head_item:nth-child(1){
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
}
.story{
    font-size: 19px;
    font-weight:bolder
}

.main_body_container{
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
ul{
    justify-content: center;
    text-align: center;
    align-items: center; 
    width: 60vw;
    /* width를 vw로 하면 전체화면일 때 남는 공간이 많음. 어느정도 넘어가면 다른 단위로 바꿔야할듯*/
    margin: auto;
}


.main_title{
    width: 40vw;
    text-align: left;
    font-size: 18px;
    font-weight: 1000;}

.main_date{
    text-align: left;
    font-size: 13px;
}

.main_summary{
    text-align: left;
    margin-bottom: 10%;
    font-size: 16px;
}

ul{
    list-style:none;
}

.theme{
    font-size: 25px;
    margin-top: 5%;
    height: 30%;
}

.title{
    width: 30vw;
    text-align: left;
    font-size: 45px;
    font-weight: 1000;}

.date{
    text-align: left;
    font-size: 13px;
    margin: 10px;
}

.summary{
    text-align: left;
    margin-bottom: 10%;
    font-size: 22px;
    margin-bottom: 10px;
}
.post_header{
    height: 200px;
}
